button {
  margin: 0.2em;
  background-color: #00000000;
  border: solid black;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  transition: 0.3s ease all;
}

button:hover {
  cursor: pointer;
  border: solid slategrey;
  color: beige;
  background-color: #000000;
  transition: 0.3s ease all;
}
