.contact-page {
  width: 80%;
  margin: 0 auto;
  margin-top: 6em;
}

.contact-title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: whitesmoke;
}

.contact-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 1em auto;
  font-size: 2em;
  flex-wrap: wrap;
  background-color: antiquewhite;
  border-radius: 100px;
}
.list-1 {
  animation: load 0.5s ease-out;
}

.list-2 {
  animation: load 0.5s 0.2s ease-out;
  animation-fill-mode: backwards;
}

.list-3 {
  animation: load 0.5s 0.4s ease-out;
  animation-fill-mode: backwards;
}

.list-4 {
  animation: load 0.5s 0.6s ease-out;
  animation-fill-mode: backwards;
}

.contact-list__icon {
  margin-right: 0.5em;
  max-width: 100px;
  box-sizing: border-box;
  padding: 7.5px;
}

.contact-list__icon__gh {
  margin-right: 0.5em;
}
.attribute {
  position: absolute;
  bottom: 0;
  left: 0;
  color: slategray;
}
a {
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .contact-page {
    width: 95%;
  }
  .contact-list-item {
    font-size: 1.5em;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .contact-list__icon {
    flex-shrink: 0;
  }
}

@keyframes load {
  0% {
    opacity: 0%;
    transform: translateY(100px) scale(0.95);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}
