.contact-page {
  width: 80%;
  margin: 0 auto;
  margin-top: 6em;
}

.contact-title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.contact-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 1em auto;
  font-size: 2em;
  flex-wrap: wrap;
}
.contact-list__icon {
  margin-right: 0.5em;
}

@media only screen and (max-width: 768px) {
  .contact-list-item {
    width: 90%;
    font-size: 1.5em;
  }
}
