.project-card {
  background-color: #f1f3dc9d;
  width: 80%;
  margin: 1em auto;
  border-radius: 0.4vw;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 4.5fr 1fr;
  grid-template-areas:
    "title  picture"
    "content  picture"
    "button  picture";
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08), 0 6px 8px rgba(0, 0, 0, 0.08),
    0 8px 16px rgba(0, 0, 0, 0.08);

  transition: all ease 0.6s;
}

.project-card--active {
  background-color: #f1f3dc;
  transition: all ease 0.6s;
}
.screenshot {
  grid-area: picture;
  max-width: 80%;
  justify-self: center;
  align-self: center;
  margin: 0.5em;
  border-radius: 0.3vw;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.05);
}
.project-card__title {
  grid-area: title;
  font-family: "Bebas Neue", cursive;
  align-self: center;
  text-align: center;
  padding: 1.5%;
  font-size: 2.2em;
}

.project-card__subtitle {
  padding-left: 1em;
  margin: 0;
}

.list-item {
  list-style-type: none;
  padding-left: 0.9em;
}

.project-card__feature,
.project-card__technology {
  background: url(./arrow-right.svg) no-repeat left top;
  padding: 0.1em 1em 0.1em 1.8em;
  justify-self: center;
}

project-card__content {
  grid-area: content;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-card__buttons {
  grid-area: button;
  align-self: center;
  display: flex;
  justify-content: center;
}

.project-card__link {
  width: 40%;
  height: 2.1em;

  margin: 0.2em 2.5% 0.2em 2.5%;
}

.project-card__btn {
  width: 100%;
}
.footer {
  position: absolute;
  right: 0.3em;
  color: rgba(0, 0, 0, 0.486);
}

@media only screen and (max-width: 768px) {
  .project-card {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    grid-template-areas:
      "title  "
      "content"
      "picture"
      "button ";
    width: 90%;
  }
  .tech-stack {
    flex-wrap: wrap;
  }
}
