.tech-stack {
  display: flex;
  width: 80%;
  margin: 2em auto;
  justify-content: center;
}

.tech-icon {
  max-height: 100px;
  filter: saturate(0.7);
  transition: all 0.3s ease;
  margin-inline: 0.2em;
  padding: 0.1em;
}

.tech-icon:hover {
  transition: all 0.3s ease;
  filter: saturate(1.5);
  cursor: pointer;
}

.tech-icon--active {
  transition: all 0.5s ease;
  filter: saturate(1.5);
  background-color: rgba(144, 190, 221, 0.6);
  border-radius: 0.3vw;
}

.tech-title {
  font-family: "Bebas Neue", cursive;

  text-align: center;
  margin-top: 1em;
  font-size: 2.2em;
}
