.header {
  background-color: aliceblue;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  height: 4.5em;
  box-shadow: 0px 0px 18px 0px rgba(49, 44, 69, 0.15);
  font-family: "Bebas Neue", cursive;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: -8vw;
  font-size: 3.2em;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 2.5em;
}
