.header {
  background-color: #f1f3dc;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  height: 4.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 6px 8px rgba(0, 0, 0, 0.04),
    0 8px 16px rgba(0, 0, 0, 0.04);
  font-family: "Bebas Neue", cursive;
}

.header-list {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.nav {
  text-decoration: none;
  color: black;
}

.nav::after {
  content: "";
  display: block;
  width: 0%;
  background: rgb(63, 63, 63);
  height: 0.3em;
  position: relative;
  transition: ease 0.5s;
}

.nav--active::after {
  transition: ease 0.5s;
  width: 100%;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 3.2em;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 2.5em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2em;
  height: 2em;
  left: 87vw;
  top: 1.3em;
  visibility: hidden;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2em;
  width: 2em;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #434749;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
}

.bm-menu {
  background: #f1f3dc;
  padding: 2.5em 1.5em 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 0.7em 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.mobile-header {
  visibility: hidden;
  position: fixed;
  top: 0.4em;
  left: 1em;
}

@media only screen and (max-width: 768px) {
  .bm-burger-button {
    visibility: visible;
  }
  .header-list {
    visibility: hidden;
  }
  .mobile-header {
    visibility: visible;
  }
}
